parameters:
	ignoreErrors:
		-
			message: '#^Property TalesFromADev\\TailwindMerge\\Helper\\Collection\<TKey of \(int\|string\),TValue\>\:\:\$items \(array\<TKey of \(int\|string\), TValue\>\) does not accept array\<TValue\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Helper/Collection.php

		-
			message: '#^Parameter \#1 \$callback of method TalesFromADev\\TailwindMerge\\Helper\\Collection\<\(int\|string\),TalesFromADev\\TailwindMerge\\ValueObjects\\ClassValidatorObject\>\:\:first\(\) expects \(callable\(TalesFromADev\\TailwindMerge\\ValueObjects\\ClassValidatorObject, int\|string\)\: bool\)\|null, Closure\(TalesFromADev\\TailwindMerge\\ValueObjects\\ClassValidatorObject\)\: mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/ClassGroupUtils.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Support\\ClassMap\:\:processClassDefinition\(\) has parameter \$classDefinition with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/ClassMap.php

		-
			message: '#^Parameter \#1 \$classDefinition of method TalesFromADev\\TailwindMerge\\Support\\ClassMap\:\:processClassDefinition\(\) expects array\|\(callable\(\)\: mixed\)\|string\|TalesFromADev\\TailwindMerge\\ValueObjects\\ThemeGetter, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/ClassMap.php

		-
			message: '#^Parameter \#1 \$classDefinition of method TalesFromADev\\TailwindMerge\\Support\\ClassMap\:\:processObjectDefinition\(\) expects array\<string, list\<mixed\>\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/ClassMap.php

		-
			message: '#^Parameter \$validator of class TalesFromADev\\TailwindMerge\\ValueObjects\\ClassValidatorObject constructor expects Closure, callable\(\)\: mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/ClassMap.php

		-
			message: '#^Cannot access offset \(int\|string\) on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Support\\Config\:\:getMergedConfig\(\) should return array\{cacheSize\: int, prefix\: string\|null, theme\: array\<string, list\<mixed\>\>, classGroups\: array\<string, list\<mixed\>\>, conflictingClassGroups\: array\<string, list\<string\>\>, conflictingClassGroupModifiers\: array\<string, list\<string\>\>, orderSensitiveModifiers\: list\<string\>\} but returns non\-empty\-array\<string, array\|bool\|float\|int\|string\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Support\\Config\:\:mergePropertyRecursively\(\) has parameter \$baseConfig with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Support\\Config\:\:mergePropertyRecursively\(\) has parameter \$mergeValue with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Support\\Config\:\:mergePropertyRecursively\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Support\\Config\:\:mergePropertyRecursively\(\) should return array\|bool\|float\|int\|string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Parameter \#1 \$baseConfig of static method TalesFromADev\\TailwindMerge\\Support\\Config\:\:mergePropertyRecursively\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/Config.php

		-
			message: '#^Parameter \#3 \$mergeValue of static method TalesFromADev\\TailwindMerge\\Support\\Config\:\:mergePropertyRecursively\(\) expects array\|bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Support/Config.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Validators\\ArbitraryValueImageValidator\:\:getIsArbitraryValue\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Validators/ArbitraryValueImageValidator.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Validators\\ArbitraryValueLengthValidator\:\:getIsArbitraryValue\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Validators/ArbitraryValueLengthValidator.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Validators\\ArbitraryValueNumberValidator\:\:getIsArbitraryValue\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Validators/ArbitraryValueNumberValidator.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Validators\\ArbitraryValuePositionValidator\:\:getIsArbitraryValue\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Validators/ArbitraryValuePositionValidator.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Validators\\ArbitraryValueShadowValidator\:\:getIsArbitraryValue\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Validators/ArbitraryValueShadowValidator.php

		-
			message: '#^Method TalesFromADev\\TailwindMerge\\Validators\\ArbitraryValueSizeValidator\:\:getIsArbitraryValue\(\) should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Validators/ArbitraryValueSizeValidator.php
